*{
    font-family: 'Libre Baskerville';
    text-align: center;
    scroll-behavior: smooth;

    /* background-color: black; */
}
#Home{
    background-color:#FAF7F0 ;

}

.logo{
    height: 52px;
    width: 150px;
}

.logo:hover{
    transform: translateX(5px)
}

.nav-color{
    background-color:#54B435 ; 
}
.nav-link{
    /* font-family: 'Courier New', Courier, monospace; */
    font-weight: bold;
    font-size: 1.5rem;
    color: black;
}
.navcolor:hover{
    color: #54B435;

}
.nav-link:hover{
    color: #54B435;
} 

.products-p{
    text-align: justify;
    margin: 3% 10% 5%  10%;
}

.products-h2{
    margin-top: 3%;
}

.products-h2:hover{
    color: #54B435;
    transform: translateX(0.2%);
}


  
/*******************Products***********************/

.center{
    text-align: left;
    /* font-size: small; */
}

.center1{
 font-size: 1.5rem;
 font-weight: bolder;
}

ul li{
    text-align: left;
}
.shadow{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.rice1{
    width: 24rem;
    height: 15rem;
}

.pulses{
    width: auto;
    height: 15.31rem;
}

.spices {

    width: 24.3rem;
    height: 15.31rem;

}

.tea{
    width: 21.5rem;
    height: auto;
}

.Grains{
    width: auto;
    height: 15.31rem;

}

.fruits{
    width: auto;
    height: 16.68rem;
}

.vegetable{
    height: 18.75rem;
    width: auto;
}

.dry_fruits{
    height: 19.68rem;
    width: 29rem;


}

.herbs{
    margin-top: 5rem;
}

.oil_seeds{
    width: 21.8rem;
    height: 18.75rem;
}

ul ol{
    visibility: hidden;
}

#footer{
    margin-top: 2.5rem;
}

.social-icon{
    margin: 20px 10px;
    font-size: 2rem;
}
.social-icon:hover{
    color:  #54B435;
}
